/* Button */

.container {
    padding: 1em;
  }


.button1::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button1 {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 0,6em;
  font-weight: bold;
  margin: 0,5em auto;
  padding: 0,2em 0,5em;
  position: relative;
  text-transform: uppercase;
}

.button1::before,
.button1::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.button1:hover {
  color: #5c5f4b;
}

.btn-4::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .btn-4::after {
    background: #5c5f4b;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .btn-4:hover:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }

  /* texto */

.text {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 3em;
    font-weight: 900;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 70px;
    color: #493840;
}

.text:hover {
    animation-play-state: paused;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #b3b976, 
          0 0 0 #f0f7f7, 
          0 0 0 #5c5152, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #b3b976, 
          0 0.25em 0 #f0f7f7, 
          0 -0.125em 0 #5c5152, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #b3b976, 
          0 -0.125em 0 #f0f7f7, 
          0 0.0625em 0 #5c5152, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #b3b976, 
          0 0.0625em 0 #f0f7f7, 
          0 -0.03125em 0 #5c5152, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #b3b976, 
          0 0 0 #f0f7f7, 
          0 0 0 #5c5152, 
          0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* button itemdelate */

.delete-item{
  width:50px;
  height:50px;
  background: linear-gradient(to left top, #929191 50%, #493840 50%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.delete-item span{
  position: absolute;
  display: block;
}
.delete-item span:nth-child(1){
  height: 3px;
  width:50px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}


.delete-item:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.delete-item:hover span{
  animation-play-state: paused;
}

/* color de texto */

.parr {
 color: aliceblue;
}

/* comprar */

.comprar {
  letter-spacing: 8px;
  text-shadow: #f0f7f7 0 0, #493840 0 0;
  transition: text-shadow 200ms;
  text-decoration: none;
  text-align: center;
}

.comprar:hover{
  text-shadow: #7d9b9b -5px 0, #803a5b 5px 0;
}

/* tabla */
.cart .table {
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.cart .table .thead tr th{
  border-top: 0px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 0px;
  color: white;

}

.cart .table .tbody tr td{
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}

.total{
  width: 200px;
}

.cart-total{
  margin-top: 0px;
  margin-left:-30px;
  text-align: center;
}

/* boton lista */
.But-lista{
  background: transparent;
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  margin-bottom: 30px;
}

span {
  transition: all 0.3s;
  transform: scale(1, 1);
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

