@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


:root{
  --bg-color:#ece581;
  --letra-color: #d6d6c2;
  --boton-color: #a4ce32;
  --glow-color: rgb(19, 8, 32);
  --glow-spread-color: rgba(238, 247, 162, 0.781);
  --enhanced-glow-color: rgb(90, 97, 82);
  --btn-color: rgb(19, 8, 32);
}

*{
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;

}

body{
  text-align: center;
  background-image: url(../src/components/images/fondo.jpg);
  background-size: cover;

}